
  <h1>{{user.name}}</h1>
  <hr>
  <div class="row">
    <div class="col-xs-6" ng-if="user.smoke" >
      <h3>喫煙室</h3>
      <hr>
      <div  ng-repeat="date in dates">
        <hr>
        <h3>{{moment(date.date, 'YYYYMMDD').format('M月D日')}}</h3>
        <hr>
        <div class="" role="group" aria-label="...">
            <div class="btn-circle" role="group">
              <div class="inner" ng-if="!date.smoke">
                <button type="button" class="btn btn-default" ng-click="update(date,'smoke', 2)"><span>（未設定）</span></button>
              </div>
              <div class="inner" ng-if="date.smoke==2">
                <button type="button" class="btn btn-success" ng-click="update(date,'smoke', 1)"><span>空きあり</span></button>
              </div>
              <div class="inner" ng-if="date.smoke==1">
                <button type="button" class="btn btn-warning" ng-click="update(date,'smoke', -1)"><span>空き僅か</span></button>
              </div>
              <div class="inner" ng-if="date.smoke==-1" >
                <button type="button" class="btn btn-danger" ng-click="update(date,'smoke', 2)"><span>空きなし</span></button>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6"  ng-if="user.nonsmoke">
      <h3>禁煙室</h3>
      <hr>
      <div  ng-repeat="date in dates" >
        <hr>
        <h3>{{moment(date.date, 'YYYYMMDD').format('M月D日')}}</h3>
        <hr>
        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <div class="btn-circle" role="group">
            <div class="inner" ng-if="!date.nonsmoke">
              <button type="button" class="btn btn-default" ng-click="update(date,'nonsmoke', 2)"><span>（未設定）</span></button>
            </div>
            <div class="inner" ng-if="date.nonsmoke==2">
              <button type="button" class="btn btn-success" ng-click="update(date,'nonsmoke', 1)"><span>空きあり</span></button>
            </div>
            <div class="inner" ng-if="date.nonsmoke==1">
              <button type="button" class="btn-warning" ng-click="update(date,'nonsmoke', -1)"><span>空き僅か</span></button>
            </div>
            <div class="inner" ng-if="date.nonsmoke==-1">
              <button type="button" class="btn-danger" ng-click="update(date,'nonsmoke', 2)"><span>空きなし</span></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
