
<!-- <h2>南相馬のホテルの直近の空室情報</h2> -->

<!-- <div class="row ">
  <nav class="navbar navbar-default navbar-inverse">
    <div class="container-fluid">
      <form class="navbar-form navbar-left ">
        <div class="form-group">
          <label for="exampleInputName2">施設名検索</label>
          <input type="text" class="form-control" id="exampleInputName2" placeholder="○○旅館" ng-model="search.name">
        </div>
        <div class="form-group">
          <label for="exampleInputName2">区で絞り込み</label>
          <select ng-model="search.address1" class="form-control">
            <option value="{{undefined}}" selected>すべて</option>
            <option ng-value="鹿島区">鹿島区</option>
            <option ng-value="原町区">原町区</option>
            <option ng-value="小高区">小高区</option>
          </select>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="searchToday"> 今日空きがある
          </label>
        </div>
      </form>
    </div>
  </nav>
</div> -->
<div class="row">
  <div class="col-md-8 col-xs-12 col-md-offset-2">
    <div class="row">
      <h3>{{owner.name}}</h3>
      <div class="row">
        <div class="col-sm-7">
          <img class="img" src="http://facility.homemate-navi.com/pubuser1/pubuser_facility_img/2/7/6/00000000000000076672/0000000555/00000000000000076672_0000000555_6.jpg">
        </div>
        <div class="col-sm-5">
          <p><a class="btn btn-warning btn-lg btn-block" href="callto:{{owner.tel}}" >お問い合わせ<br><strong>TEL:{{owner.tel}}</strong></a></p>
          <div class="panel panel-default">
            <div class="panel-body">
              <ul class="list-unstyled">
                <li>〒{{owner.zip}} 福島県南相馬市{{owner.address1}}{{owner.address2}}</li>
                <li></li>
                <li>お問い合わせ：{{owner.tel}}</li>
                <li>チェックイン：{{owner.checkin}}</li>
                <li>チェックアウト：{{owner.checkout}}</li>
                <li>ホームページ：<a href="{{owner.homepage}}" target="_blank" >{{owner.homepage}}</a></li>
                <li>
                  <span class="label label-default" ng-repeat-start="(k,v) in owner.tags">{{option.tags[k]}}</span><span ng-repeat-end>&nbsp;</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-12">
            <h2>{{owner.descriptionHeader}}</h2>
            <hr>
            <p ng-bind-html="owner.description | nl2br"></p>
            <br>
          </div>
          <br>
          <div class="col-sm-12">

            <h3>直近の空き状況</h3>
            <hr>
            <table class="table table">
              <tr>
                <th></th>
                <th ng-repeat="r in owner.reserves | orderBy: 'date'" style="text-align: center;" class="active">{{moment(r.date , 'YYYYMMDD').format('M月D日')}}</th>
              </tr>

              <tr ng-if="owner.smoke">
                <th >喫煙</th>
                <th ng-repeat="r in owner.reserves | orderBy: 'date'" style="text-align: center;" ng-class="{'info' : r.smoke == 2,  'warning':r.smoke == 1 , 'danger': r.smoke == -1}">{{r.smoke == 2 ? '○':r.smoke == 1 ? '△': r.smoke == -1 ? '✕' : '-'}}</th>
              </tr>
              <tr ng-if="owner.nonsmoke">
                <th >禁煙</th>
                <th ng-repeat="r in owner.reserves | orderBy: 'date'" style="text-align: center;" ng-class="{'info' : r.nonsmoke == 2,  'warning':r.nonsmoke == 1 , 'danger': r.nonsmoke == -1}">{{r.nonsmoke == 2 ? '○':r.nonsmoke == 1 ? '△': r.nonsmoke == -1 ? '✕' : '-'}}</th>
              </tr>
            </table>
          </div>
          <div class="col-sm-12">

            <h3>アクセス</h3>
            <hr>
            <div class="map-wrapper">
              <div id="map"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
