

#register .day button {
  font-size: 2em;
  padding: 2em auto;
}

#register .day button .icon {
  font-size: 4em;
  /*line-height: 3em;*/
}

img.img {
  max-width: 100%;
}

.btn-circle .inner{
  position: relative;
  width: 80%;
}
.btn-circle .inner:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.btn-circle .inner button {
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn-circle button span {
  font-size: 2em;
}
.reserve-day {
  margin-bottom: 4em;
}
